*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #232e4d;
  --bg-color: #eef0f2;
  --orange-color: #e3aa44;
}

body {
  background-color: var(--bg-color);
  font-family: monospace;
  color: var(--dark-blue);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 8px 30px 8px 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  position: relative;
}

.modal__btn-close {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}

.modal__img {
  width: 70px;
  height: 70px;
}

.modal__title {
  margin-top: 10px;
}

.modal__text {
  margin: 30px 0;
  max-width: 400px;
  font-size: 1rem;
}

.modal__text-gold {
  color: var(--orange-color);
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.modal__btn {
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 15px 40px;
  color: #ffffff;
  background-color: var(--dark-blue);
  cursor: pointer;
}

/* Animations */

@keyframes fall {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 1;
  }
}

@keyframes sway {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 50px;
  }
  50% {
    margin-left: -50px;
  }
  75% {
    margin-left: 50px;
  }
  100% {
    margin-left: 0;
  }
}

.snow-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 500ms;
  width: 100%;
  z-index: -1;
}

.snow {
  animation: fall ease-in infinite, sway ease-in-out infinite;
  color: skyblue;
  position: absolute;
}
